@import url('https://fonts.googleapis.com/css?family=Titillium+Web')

*{
    margin: 0px;
}
.header{
    background-color: #87509c;
    width: 1440px;
    height: 596px;
    color: #f7f3ea;

}
img{
    padding-left: 211px;
    padding-top: 56px;
}
/*.header_header {*/
    /*padding: 0px;*/
    /*margin: 0px;*/

/*}*/
.header_header ul{
    display: inline-flex;
    padding-left: 400px;

}
.header_header li{
    list-style-type: none;
    padding-left: 50px;
    text-transform: uppercase;
}
.header_header li a{
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
     color: #f7f3ea;
 }
.header_header li a:hover{
    width: 77px;
    height: 32px;
    background-color: #643a79;
}
.header_content h1{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    font-size: 42px;
    padding: 146px 267px 269px 267px;
}