@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

*{
    margin: 0px;
}
body{
    width: 1440px;
}
.home{
    background-color: #87509c;
    color: #f7f3ea;
}
.home__header img{
    padding-left: 211px;
    padding-top: 56px;
}
.home__header ul{
    display: inline-flex;
    padding-left: 400px;
}
.home__header li{
    list-style-type: none;
    padding-left: 50px;
    text-transform: uppercase;
}
.home__header li a{
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
     color: #f7f3ea;
 }
.home__header li a:hover{
    padding: 10px 17px 9px 17px;
    border-radius: 4px;
    background-color: #643a79;
}
.header__content{
    font-family: 'Titillium Web', sans-serif;
}
.home__content h1{
    margin: 0px;
    text-align: center;
    font-size: 42px;
    padding: 146px 267px 54px 267px;
}
.home__button{
    color: #f7f3ea;
    font-size: 18px;
    width: 293px;
    height: 70px;
    border-radius: 4px;
    background-color: #eb7d4b;
    margin-left: 574px;
    margin-bottom: 145px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.15);
}
.service{
    font-family: 'Titillium Web', sans-serif;
    background-color: #17c2a4;
    text-align: center;
    color: #ffffff;
}
.service__type{
     display: flex;
     margin-top: 79px;
    justify-content: center;
 }
.service__type1{
   width: 173px;
    margin-left: 90px;
}
.text-container{
    margin-bottom: 128px;
}
.text-container h4{
    margin-top: 56px;
    margin-bottom: 23px;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
    width: 194px;
}
.service__header{
    padding-top: 120px;
    font-size: 40px;
    letter-spacing: 4px;
}
hr{
    width: 87px;
    height: 4px;
    opacity: 0.15;
    background-color: #000000;
    margin-left: 675px;
    margin-top: 23px;
    margin-bottom: 23px;
}
.service__description{
    font-size: 18px;
    letter-spacing: 0.36px;
    width: 603px;
    height: 45px;
    margin-left: 419px;
}
.service--team{
    background-color: #e7f1f8;
    color: #3c4761;
}
.service__header--team{
    font-size: 41.5px;
    letter-spacing: 4.15px;
}
.service__description--team{
    width: 654px;
}
.person_pic{
    height: 200px;
    width: 200px;
    background-color: #878787;
    border-radius: 50%;
}
.text-container--team{
    margin-bottom: 0px;
}
.text-container--team{
    margin-bottom: 0px;
}
.title{
    color: #30bae7;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 26px;
}
.icons{
    color: #878787;
    margin-top: 23px;
    margin-bottom: 128px;
    width: 32px;
    height: 32px;
    object-fit: contain
}
.service--aboutUs{
    background-color: #d74680;
}
.person_pic--aboutUs{
    height: 96px;
    width: 96px;
}
.service__type1--aboutUs{
    width: 600px;
}
.service__type1--FirstRow, .service__type1--SecondRow{
    width: 600px;
     display: flex;
    margin-left: 27px;
 }
.service__type1--FirstRow p, .service__type1--SecondRow p{
    width: 385px;
    margin-left: 48px;
    text-align: left;
    font-style: italic;
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.42px;
}
.name{
    text-align: left;
    margin-left: 171px;
    margin-top: 23px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
}
.title--aboutUs, .title--SecondRow {
    text-align: left;
    margin-left: 171px;
    margin-top: 0;
    color: #ffdd99;
}
.title--SecondRow{
    margin-bottom: 129px;
}
.service--getInTouch{
    background-color: #3c5499;
    height: 819px;
}
.getInTouch{
   color: #273a71;
}
.service__description--getInTouch{
    width: 782px;
    height: 19px;
}
.form__firstRow{
    display: flex;
    justify-content: center;
    margin-top: 76px;
}
.form__name, .form__email{
    width: 414px;
    height: 56px;
    font-size: 18px;
    background: #273a71;
    border: none;
    border-radius: 3px;
    color: white;
}
.flex1{
      position: relative;
      margin-left: 470px;
      margin-right: 32px;
  }
.flex2{
    position: relative;
    margin-right: 290px;
}
.form__text{
    position: absolute;
    padding: 16px 297px 20px 25px;
    width: 92px;
    height: 14px;
    font-size: 16px;
}
.form__secondRow{
    position: relative;
    margin-left: 180px;
}
.form__message{
    width: 860px;
    height: 200px;
    margin-top: 27px;
    background: #273a71;
    border: none;
    border-radius: 3px;
}
.cur__message{
    margin-top: 27px;
    position: absolute;
    width: 114px;
    height: 18px;
    padding: 24px 721px 158px 25px;
}
.home__button--getInTouch{
    background-color: #30bae7;
    margin: 59px 573px 115px 574px;
}
.form__symbol{
    color: red;
}
.footer{
    background-color: #344b8e;
}
.footer ul{
    padding-left: 0;
    display: inline-flex;
    margin: 49px 251px 38px 251px ;
}
.footer ul li{
     list-style-type: none;
     padding-right: 50px;
}
.footer ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-family: 'Titillium Web Semibold', sans-serif;
    letter-spacing: 0.48px;
}
.footer ul li a:hover{
    color: #30bae7;
}
